<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student | dashboard</title>
    <link rel="stylesheet" href="/<?php echo constant('URL_SUBFOLDER')?>/public/css/bootstrap.min.css">
    <link rel="stylesheet" href="/<?php echo constant('URL_SUBFOLDER')?>/public/css/main.css">
    <link rel="stylesheet" href="/<?php echo constant('URL_SUBFOLDER')?>/public/css/dashboard.css">    
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
</head>

<body class="bg-none">
    <!-- <div class="area">sdsd</div> -->
    <div class="area container-fluid px-0 bg-white h-100 fw-bold">
        <header class="row align-items-center justify-content-around bg-black mx-0">    
            <div class="col" id="search-container">
                <div id="search-wrapper" class="p-1">
                    <form id="searchbar-outer" class="searchbar-outer">
                        <input class="rounded-0 border border-secondary mt-0" type="search" id="searchbar" name="search" placeholder="Search for acommodation ..." aria-controls="searchresults-outer">
                    </form>
                </div>
            </div>
        </header> 
    <nav class="main-menu">
        <ul>
            <li>
                <a href="">
                    <i class="fa fa-home fa-2x"></i>
                    <span class="nav-text">
                        Dashboard
                    </span>
                </a>
            </li>
            <li class="has-subnav">
                <a href="#">
                    <i class="fa fa-user fa-2x"></i>
                    <span class="nav-text">
                        Users
                    </span>
                </a>
            </li>
            <li class="has-subnav">
                <a href="#">
                    <i class="fa fa-list fa-2x"></i>
                    <span class="nav-text">
                        Accomodation Forms
                    </span>
                </a>
            </li>
            <li class="has-subnav">
                <a href="#">
                    <i class="fa fa-gear fa-2x"></i>
                    <span class="nav-text">
                        Settings
                    </span>
                </a>
            </li>
        </ul>

        <ul class="logout">
            <li>
                <a href="#">
                    <i class="fa fa-power-off fa-2x"></i>
                    <span class="nav-text">
                        Sign out
                    </span>
                </a>
            </li>
        </ul>
    </nav>
    <script type="module" src="/<?php echo constant('URL_SUBFOLDER')?>/public/js/Main.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
</body>

</html>