/* Reset default styling */

/* html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline;}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section { display: block;}
body { line-height: 1;}
ol,ul { list-style: none;}
blockquote,q { quotes: none;}
blockquote:before,blockquote:after,q:before,q:after { content: ''; content: none;}
table { border-collapse: collapse; border-spacing: 0;}
 */

/* CSS for UI elements */

@import 'variables.css';

/* Utilities */
@font-face {
    font-family: Montserrat;
    src: url("../fonts/Montserrat-Regular.ttf");
    font-weight: normal;
    font-style: normal
}

@font-face {
    font-family: Montserrat;
    src: url("../fonts/Montserrat-Medium.ttf");
    font-weight: 500;
    font-style: normal
}

@font-face {
    font-family: Montserrat;
    src: url("../fonts/Montserrat-SemiBold.ttf");
    font-weight: 600;
    font-style: normal
}

@font-face {
    font-family: Montserrat;
    src: url("../fonts/Montserrat-Bold.ttf");
    font-weight: 700;
    font-style: normal
}

html, body { 
    width: 100% !important;
    height: 100% !important; 
    font-family: Montserrat;
}

body {
    /* background: #000000;
    background: -moz-linear-gradient(top, #000000 0%, #2D2D2D 50%, #3C3C3C 100%);
    background: -webkit-linear-gradient(top, #000000 0%, #2D2D2D 50%, #3C3C3C 100%);
    background: linear-gradient(to bottom, #000000 0%, #2D2D2D 50%, #3C3C3C 100%); */

    font: var(--body-font);
    background-color: #515151;
    opacity: 0.8;
    background: linear-gradient(135deg, #00000055 25%, transparent 25%) -40px 0/ 80px 80px, linear-gradient(225deg, #000000 25%, transparent 25%) -40px 0/ 80px 80px, linear-gradient(315deg, #00000055 25%, transparent 25%) 0px 0/ 80px 80px, linear-gradient(45deg, #000000 25%, #515151 25%) 0px 0/ 80px 80px;
}

#landing-wrapper {
    background: rgb(29, 26, 26) !important;
    opacity: 1 !important;
    height: auto !important;
}

.bg-none { background: none !important; }

.container, .container-flex { opacity: 1.0 !important; }

#brand-link {
    text-decoration: none;
    color: inherit;
    width: 100%; 
    cursor:pointer;
}

#brand { font-size: 30px; }

#brand-img { width: 30px; }

#form-btn { cursor: pointer; }

header { color: white;}

/* Search */

#searchresults a {
    text-decoration: none;
}

mark {
    border-radius: 2px;
    padding: 0 3px 1px 3px;
    margin: 0 -3px -1px -3px;
    background-color: var(--search-mark-bg);
    transition: background-color 300ms linear;
    cursor: pointer;
}

.searchbar-outer {
    margin: 0 auto;
    max-width: var(--content-max-width);
}

input[type=search] {
    outline-offset: 0;
    -webkit-appearance: none;
}

#searchbar {
    width: 100%;
    margin: 5px auto 0px auto;
    padding: 5px 10px;
    transition: box-shadow 300ms ease-in-out;
    border: 1px solid var(--searchbar-border-color);
    border-radius: 3px;
    background-color: var(--searchbar-bg);
    color: var(--searchbar-fg);
}

.searchresults-header {
    font-weight: bold;
    font-size: 1em;
    padding: 18px 0 0 5px;
    color: var(--searchresults-header-fg);
}

/* side menu */

.side-menu {
    width:14em;
    height: auto;
    margin:4em auto 0;
    font-size: 1em;
    line-height: 2em;
    color: #fff;
    font-weight:700;
    text-transform:uppercase;
    position:absolute;
    top:0; 
    bottom:0;
    left: -10em;
}

.side-menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.side-menu ul li {
    display:flex;
    background-color: #333;
    height: 3em;
    justify-content: center;
    /* padding: 1em 1.5em; */
    position: relative;
    -webkit-transition: -webkit-transform 0.5s,     background-color .5s, color .5s;
    transition: transform .5s, background-color .5s, color .5s;
}
/*the colors of the different columns*/
.side-menu ul li:nth-child(1) { background-color: var(--sidebar-color-lightblue) }
.side-menu ul li:nth-child(2) { background-color: var(--sidebar-color-blue) }
.side-menu ul li:nth-child(3) { background-color: var(--sidebar-color-lightgreen) }
.side-menu ul li:nth-child(4) { background-color: var(--sidebar-color-green) }
.side-menu ul li:nth-child(5) { background-color: var(--sidebar-color-yellow) }
.side-menu ul li:nth-child(6) { background-color: var(--sidebar-color-red) }

.side-menu ul li:hover {
    background-color: var(--sidebar-color-highlight); 
    -webkit-transform: translateX(10em);
    transform: translateX(10em); /*equal to left in the .side-menu*/
}
.side-menu ul li button {
    font-size: 1.5em;
    display:block;
    color: transparent;
    text-decoration: none;
}

.side-menu ul li button:hover {
    display:block;
    text-decoration: none;
    animation: textFadeIn .5s;
    -webkit-animation: textFadeIn .5s;
    -moz-animation: textFadeIn .5s;
    -o-animation: textFadeIn .5s;
    -ms-animation: textFadeIn .5s;
    color: white;
}

.side-menu ul li span {
    display:block;
    position: absolute;
    font-size:1em;
    line-height: 2em;
    height:2em;
    top:0; 
    bottom:0;
    margin:0 auto;
    padding:1em 1.5em;
    right: 0.16666666666667em;
    color: #F8F6FF;
}

.h-100 { height: 100%; }
.w-fit { width: fit-content !important; }
.bg-black { background-color: black;}
textarea[name="message"] { width: 50%px !important; }

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* height: 2em; */
    /* margin: 10px 0 10px 0; */
    padding: 20px 0 20px 0; 
}

/* Media queries */
@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    header {
        display:grid !important;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr; 
        /* align-items: center; */
        justify-content: center;
    }
    #brand-container { grid-column-start: span 1; justify-content: center !important;}
    /* #search-container { grid-column-start: span 2; } */
    #dropdown-container { grid-column-start: span 1;  justify-content: center !important;}
    .side-menu { margin:7.5em auto 0; }
    textarea[name="message"] { width: 100% !important; }
}

/* Animation keyframes */
@keyframes textFadeIn {
    0% { color: rgba(255, 255, 255, 0)}
    /* 50% { color: rgba(255, 255, 255, .5)} */
    100% { color: rgba(255, 255, 255, 1)}
}